.p {
	&--small {
		font-size: .75rem;
		font-weight: var(--font-medium);
		line-height: 1.125rem;
	}

	&--normal {
		font-size: 1.125rem;
		line-height: 1.6875rem;
		color: var(--clr-neutral-700);
	}

	&--large {
		font-size: 1.5rem;
		font-weight: var(--font-medium);
		line-height: 2.25rem;
		color: var(--clr-neutral-700);
	}

	&--xlarge {
		font-size: 2.25rem;
		line-height: 3.375rem;
		color: var(--clr-neutral-700);
	}

	&--blue {
		color: var(--clr-primary-400);
	}

	&--red {
		color: var(--clr-secondary-400);
	}

	&--green {
		color: var(--clr-secondary-300);
	}
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	margin: 0;
	padding: 1rem;
	background-color: var(--clr-neutral-100);
	z-index: 100;

	display: flex;
	align-items: center;
	justify-content: space-between;

	&__title {
		font-size: 1.5rem;
		font-family: var(--ff-accent);
		font-weight: var(--font-exbold);
		color: var(--clr-neutral-700);
	}
}

.home {
	padding: 0rem 1rem 6.25rem;
}

.services, .intro, .designs, .team, .clients {
	padding-top: 100px;
}

.intro {
	&__top {
		margin-inline: 7.5%;

		p:last-child {
			max-width: 18ch;
		}
	}

	&__bottom {
		margin-inline: 7.5%;
		max-width: 23.125rem;
		margin-top: 1.375rem;

		p:first-child {
			max-width: 14ch;
		}

		p:nth-child(2) {
			font-size: .75rem;
			line-height: 1.125rem;
			margin-top: 1.75rem;
			font-weight: var(--font-regular);
		}
	}

	&__img {
		width: 100%;
		border-radius: 1.125rem;
		margin-top: .9375rem;
	}
}

.services {
	&__title {
		width: 15ch;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 1.5rem;
		margin-top: 2.6875rem;
	}
}

.designs {
	position: relative;

	&__cards {
		display: grid;
		justify-content: center;
	}

	&__more {
		font-weight: var(--font-medium);
		text-decoration: none;
		margin-top: 2.1875rem;
		display: block;

		&:hover {
			cursor: pointer;
		}

		&::after {
			content: attr(arrow);
			margin-left: .75rem;
		}
	}
}

.team {
	&__title {
		width: 12ch;
		margin-top: .5rem;
	}

	&__description {
		margin-top: .875rem;
		width: 22ch;
	}

	&__preview {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: .5rem;
		margin-top: 2.25rem;
	}

	&__photo {
		border-radius: 1.5rem;

		&--first{
			width: 50%;
			max-width: 20rem;
		}

		&--second {
			width: 88%;
			max-width: 16.25rem;
		}

		&--third {
			width: 95%;
			max-width: 18.1875rem;
		}
	}
}

.clients {
	&__profile {
		align-items: center;
		gap: 1.875rem;
		margin-top: 2rem;
	}

	&__quote-author {
		display: inline-flex;
		flex-direction: column;
		gap: .625rem;

		&::after {
			content: attr(data-client);
			font-size: 1.125rem;
			font-weight: var(--font-medium);
			color: var(--clr-neutral-500);
		}
	}

	&__photo {
		width: 5.125rem;
		height: 5.125rem;
		border-radius: .75rem;
	}
}

.footer {
	background-color: var(--clr-neutral-900);
	color: var(--clr-neutral-100);
	padding: 2.25rem 2.625rem 1.5rem;


	&__nav ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&__link {
		font-size: 1.125rem;
		font-weight: var(--font-regular);
		line-height: 200%;

 		a, a:active {
			color: var(--clr-neutral-100);
			text-decoration: none;
		}

		a:hover {
			cursor: pointer;
			color: var(--clr-neutral-300);
		}
	}

	&__title {
		font-size: 2.25rem;
		font-family: var(--ff-accent);
	}

	&__social {
		margin-top: 4rem;

		img:hover {
			cursor: pointer;
		}
	}

	&__websites {
		display: flex;
		gap: .6875rem;
	}

	&__creator {
		margin-top: 9.625rem;
		font-size: .875rem;
		text-align: center;

		a {
			font-weight: var(--font-bold);
		}
	}
}

.flex-group {
	display: flex;

	&--column {
		flex-direction: column;
		gap: .5625rem;
	}
}

.content-sections {
	margin-inline: 10%;
}

@media (width >= 768px) {
	.designs {
		&__cards {
			grid-template-rows: auto auto;
			grid-auto-flow: column;
			grid-gap: 1.25rem;
		}

		&__more {
			transform: translateX(-150px) translateY(50px);
			text-align: right;

			&:hover {
				transform: translateX(-160px) translateY(50px)
			}
		}
	}

	.team {
		padding-top: 12.625rem;
		gap: 2rem;

		&__preview, &__preview > div {
			gap: 1.5rem;
		}
	}
}

@media (width < 992px) {
	.footer {
		&__content {
			max-width: 500px;
		}
	}
}

@media (width >= 992px) {
	.header {
		padding: 1.5rem 3.25rem;

		&__title {
			font-size: 2.25rem;
		}
	}

	.home {
		padding: 4.5rem 3.25rem 12.5rem;
	}

	.intro {
		&__top {
			p:first-child {
				font-size: 1.125rem;
			}

			p:last-child {
				font-size: 3rem;
				line-height: 4.5rem;
				margin-top: 1rem;
			}
		}

		&__bottom {
			margin-top: 2.5rem;

			p:first-child {
				font-size: 3rem;
				line-height: 4.5rem;
			}

			p:nth-child(2) {
				font-size: 1.125rem;
				line-height: 1.6875rem;
			}
		}

		&__img {
			margin-top: 2.5rem;
		}
	}

	.services {
		&__title {
			font-size: 2.25rem;
			line-height: 3.375rem;
		}
	}

	.designs {
		&__title {
			font-size: 2.25rem;
			line-height: 3.375rem;
			width: 16ch;
		}
	}

	.team {
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
	}

	.clients {
		padding-top: 12.5rem;

		&__profile {
			margin-top: 3.0625rem;
		}

		&__quote {
			font-size: 2.25rem;
			line-height: 3.375rem;
			width: 40ch;
		}
	}

	.footer {
		padding: 2.25rem 3.25rem 1.5rem;

		&__content {
			display: flex;
			justify-content: space-between;
			margin-inline: 10%;
		}

		&__social {
			margin: 0;
		}

		&__creator {
			margin-top: 7.375rem;
		}
	}
}

@media (width >= 1280px) {
	.intro {
		&__top {
			margin-inline: 20%;
		}

		&__bottom {
			margin-inline: 20%;
		}
	}

	.team {
		gap: 0;

		&__photo  {
			width: 100%;
		}
	}
}