<header class="header">
	<span class="header__title">Edie</span>
	<!-- <app-navigation></app-navigation> -->
</header>

<main class="home">
	<section class="intro">
		<div class="offset">
			<p class="p p--small p--blue">Unhappy with your website?</p>
			<p class="p p--large">We create beautiful and fast web services</p>
		</div>

		<img class="intro__img" src="assets/heroImage.jpg" alt="Developers in a meeting">

		<div class="offset">
			<p class="p--large">Story, emotion and purpose</p>
			<p class="intro__mission">We help transform your ideas into real world applications that will outperform your toughest competition and help you achieve your strategic goals in short period of time.</p>

			<div class="intro__contact">
				<label for="input-email">Want us to contact you?</label>

				<div class="intro__contact__field" tabindex="-1">
					<input required id="input-email" type="email" placeholder="Email" autocomplete="off" tabindex="1">
					<button class="intro__contact__field__join" tabindex="2">Join</button>
				</div>
			</div>
		</div>
	</section>

	<!--------------------------------------------------------------- SERVICES -------------------------------------------------------------->
	<section class="services">
		<p class="services__title p p--large">We offer high demand services</p>

		<div class="services__cards">
			<ng-container *ngFor="let service of services">
				<app-card-service [service]="service"></app-card-service>
			</ng-container>
		</div>
	</section>

	<!--------------------------------------------------------------- DESIGNS --------------------------------------------------------------->
	<section class="designs">
		<p class="designs__title p p--large">Good design means good business</p>

		<div class="designs__cards">
			<ng-container *ngFor="let design of designs">
				<app-card-design [design]="design"></app-card-design>
			</ng-container>
		</div>

		<a class="designs__more p p--normal p--blue " href="" arrow="→" tabIndex="7">see more</a>
	</section>

	<!--------------------------------------------------------------- TEAM ------------------------------------------------------------------>
	<section class="team">
		<p class="p p--normal p--red">Meet the team</p>
		<p class="team__title p p--xlarge">We are chilled and a laidback team</p>
		<p class="team__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

		<div class="team__preview">
			<img class="team__photo" src="assets/person3.png" alt="">
			<div class="flex-group flex-group--column">
				<img class="team__photo" src="assets/person1.png" alt="">
				<img class="team__photo" src="assets/person2.png" alt="">
			</div>
		</div>
	</section>
</main>

<footer>
		
</footer>
