.p {
	&--small {
		font-size: .75rem;
		font-weight: var(--font-medium);
		line-height: 1.125rem;
	}

	&--normal {
		font-size: 1.125rem;
		line-height: 1.6875rem;
		color: var(--clr-neutral-700);
	}

	&--large {
		font-size: 1.5rem;
		font-weight: var(--font-medium);
		line-height: 2.25rem;
		color: var(--clr-neutral-700);
	}

	&--xlarge {
		font-size: 2.25rem;
		line-height: 3.375rem;
		color: var(--clr-neutral-700);
	}

	&--blue {
		color: var(--clr-primary-400);
	}

	&--red {
		color: var(--clr-secondary-400);
	}

	&--green {
		color: var(--clr-secondary-300);
	}
}

.header {
	&__title {
		font-size: 1.5rem;
		font-family: var(--ff-accent);
		font-weight: var(--font-exbold);
		color: var(--clr-neutral-700);
	}
}

.home__services, .home__designs, .home__team {
	margin-top: 6.375rem;
}

.home {
	&__intro {
		margin-top: 3rem;

		.offset:nth-of-type(1) > p:nth-child(2) {
			max-width: 18ch;
		}

		.offset:nth-of-type(2) > p:first-child {
			max-width: 14ch;
			margin-top: 1.375rem;
		}
	}

	&__img {
		width: 100%;
		border-radius: 1.125rem;
		margin-top: .9375rem;
	}

	&__mission {
		font-size: .75rem;
		line-height: 1.125rem;
		margin-top: 1.75rem;
		font-weight: var(--font-regular);
	}

	&__contact {
		margin-top: 1.9375rem;

		label {
			font-size: .625rem;
			color: var(--clr-neutral-500);
		}

		&__field {
			display: flex;
			justify-content: space-between;
			width: 100%;
			background-color: var(--clr-neutral-200);
			padding: .25rem;
			border-radius: .75rem;
			margin-top: 1rem;
			font-size: .875rem;
			height: 3rem;

			&:focus-within {
				outline: -webkit-focus-ring-color auto 1px;
			}

			input {
				width: 100%;
				padding: 0;
				border: none;
				outline: none;
				background-color: var(--clr-neutral-200);
				margin-left: 1.1875rem;
			}

			&__join {
				border: none;
				background-color: var(--clr-primary-400);
				color: var(--clr-neutral-200);
				border-radius: .75rem;
				width: 4.4375rem;
			}
		}
	}

	.services {
		&__title {
			width: 15ch;
			margin: 0 10%;
		}
	
		&__cards {
			display: grid;
			grid-template-rows: repeat(3, 1fr);
			grid-gap: 4.6875rem;
			margin-top: 2.6875rem;
		}
	}
	
	.designs {
		&__title {
			width: 20ch;
			display: inline-block;
			margin: 0 10% .75rem 10%;
		}
	
		&__more {
			font-weight: var(--font-medium);
			text-decoration: none;
			margin-top: 2.1875rem;
			display: block;
	
			&:hover {
				cursor: pointer;
			}
	
			&::after {
				content: attr(arrow);
				margin-left: .75rem;
			}
		}
	}
	
	.teams {
		&__title {
			width: 12ch;
			margin-top: .5rem;
		}
	
		&__description {
			margin-top: .875rem;
			width: 22ch;
		}
	}
}
